<form>
    <div class="mb-3">
      <label for="inputAccountNumber" class="form-label">Account Number</label>
      <input type="number" class="form-control" id="inputAccountNumber" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="inputPin" class="form-label">Pin</label>
      <input type="password" class="form-control" id="inputPin">
    </div>
    <button type="submit" class="btn btn-success">Login</button>

    <a routerLink="create-customer" class="nav-link" routerLinkActive="active"><button type="submit" class="btn btn-primary">Register</button></a>
  </form>
