<div class="container">

    <form class="text-center border border-dark p-5">
      <p class="h4 mb-4">Withdraw Amount</p>
     
        <div class="form-row mb-4" style="text-align: left;">
          <!-- Enter Account Type -->
          <label for="inputFirstName" class="form-label">Account type</label>
          <input type="text" id="RegisterFormFirstName" class="form-control" placeholder="Account type.">
        </div>
    
        <div class="form-row mb-4" style="text-align: left;">
          <!-- Amount -->
          <label for="inputFirstName" class="form-label">Enter Amount</label>
          <input type="text" id="RegisterFormLastName" class="form-control" placeholder="Enter Amount">
        </div>
    
      <!-- Sign up button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
